$space: 6px;

$left-width: 250px;
$top-height: 50px;

.container {
    display: flex;
    width: 100%;
    height: 100%;
    transition: background-color ease-in-out 200ms;

    .left {
        display: flex;
        flex-direction: column;

        .title {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: $top-height;
            transition: background-color ease-in-out 200ms;
            font-family: Arial, Helvetica, sans-serif;
        }

        .categories {
            display: flex;
            flex-direction: column;
            width: $left-width;
            height: calc(100% - $top-height);
            transition: background-color ease-in-out 200ms;
            font-family: Arial, Helvetica, sans-serif;
            overflow-y: auto;

            .category,
            .selected-category {
                padding: 3px 6px 3px 12px;
                cursor: pointer;
            }
        }
    }

    .right {
        display: flex;
        flex-direction: column;
        width: calc(100% - $left-width);
        height: 100%;

        .top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: $top-height;
            transition: background-color ease-in-out 200ms;
            font-family: Arial, Helvetica, sans-serif;

            .languages {
                display: flex;
                align-items: center;
                height: 100%;
                width: 75%;

                i {
                    font-size: 34px;
                    margin-left: $space;
                    filter: grayscale(100%) contrast(0%);
                    transition: all 0.1s;
                    cursor: pointer;
                }

                i:hover {
                    margin-left: $space;
                    filter: grayscale(10%) contrast(80%);
                }

                .selected {
                    margin-left: $space;
                    filter: grayscale(0%) contrast(100%);
                }
            }

            .info {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                height: 100%;
                width: 25%;

                .button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 50px;
                    height: 50px;
                    cursor: pointer;
                    text-decoration: none;

                    img {
                        width: 32px;
                        height: 32px;
                    }

                    i {
                        font-size: 32px;
                    }
                }
            }
        }

        .cheat-sheet {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: calc(100% - $top-height);
            transition: background-color ease-in-out 200ms;
            overflow-y: auto;
            padding: 12px;
        }
    }
}

.container.light {
    color: black;

    .left {

        .title {
            background-color: #E3E5E8;
        }

        .categories {
            background-color: #F2F3F5;

            .category:hover {
                background-color: #DCDFE3;
            }

            .selected-category {
                background-color: #D1D5D9;
            }
        }
    }

    .right {

        .top {
            background-color: #F2F3F5;

            .info {
                .button {
                    i {
                        color: black;
                    }
                }
            }
        }

        .cheat-sheet {
            background-color: #FFFFFF;
        }
    }
}

.container.dark {
    color: #D8CEBF;

    .left {

        .title {
            background-color: #202225;
        }

        .categories {
            background-color: #2F3136;

            .category {
                color: #BBBBBB;
            }

            .category:hover {
                background-color: #3C3F45;
                color: white;
            }

            .selected-category {
                background-color: #42464D;
                color: white;
            }
        }
    }

    .right {

        .top {
            background-color: #2F3136;

            .info {
                .button {
                    i {
                        color: white;
                    }
                }
            }
        }

        .cheat-sheet {
            background-color: #36393F;
        }
    }
}